.cardUserList {
  .itemUser {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: all 0.1s ease;
    border-radius: 10px;

    .userAvatar {
      min-width: 70px;
      width: 70px;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      object-fit: cover;
      border: 1px solid #ccc;
    }
    .userName {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .btnAddFriend {
      transition: all 0.1s ease;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.5px;
      border-radius: 5px;
      border: none;
      background-color: #cfe8ff;
      color: #003871;

      &:hover {
        background-color: #b1daff;
      }
      &:active {
        background-color: #bce1ff;
      }
    }

    &:hover {
      background-color: #f4f4f4;
    }
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .userList {
    .item {
      cursor: pointer;
      transition: all 0.1s ease;
      border-radius: 10px;
      .userAvatar {
        min-width: 70px;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid #ccc;
      }

      .userName {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .btnAddFriend {
        transition: all 0.1s ease;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.5px;
        border-radius: 5px;
        border: none;
        background-color: #cfe8ff;
        color: #003871;

        &:hover {
          background-color: #b1daff;
        }
        &:active {
          background-color: #bce1ff;
        }
      }

      &:hover {
        background-color: #f4f4f4;
      }

      @media (max-width: 576px) {
        .userName {
          width: 100px;
        }

        .userAvatar {
          min-width: 50px;
          width: 50px;
          height: 50px;
        }

        .userName {
          font-size: 16px;
        }

        .btnAddFriend {
          font-size: 10px;
        }
      }
    }
  }

  .btnSeeAll {
    text-align: center;
    transition: all 0.1s ease;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    width: 100%;
  }

  .btnSeeAll:hover {
    background-color: #eaeaea;
  }

  .btnSeeAll:active {
    background-color: #e0e0e0;
  }

  @media (max-width: 992px) {
    .itemUser,
    .userList {
      .userName {
        width: 250px;
      }
    }
  }

  @media (max-width: 768px) {
    .itemUser,
    .userList {
      .userName {
        width: 200px;
      }
    }
  }

  @media (max-width: 576px) {
    .itemUser,
    .userList {
      .userName {
        width: 100px;
      }

      .userAvatar {
        min-width: 50px;
        width: 50px;
        height: 50px;
      }

      .userName {
        font-size: 16px;
      }

      .btnAddFriend {
        font-size: 10px;
      }
    }
  }
}

.styleWrapper {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
