.leftSide,
.rightSide {
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
}

.middleSide {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

// .leftSide,
// .rightSide:hover {
//   overflow-y: initial;
// }
