.friendList {
  background-color: #fff;
  border-top-left-radius: 10px;
  height: 100%;

  .friends {
    .userName {
      font-size: 14px;
      letter-spacing: 0.5px;
    }

    .itemFriend {
      border-radius: 10px;
    }

    .itemFriend:hover {
      background-color: #e0e0e0;
    }

    .img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
