.menu {
  background-color: #f6f3f3;

  .itemMenu {
    transition: all 0.1s ease;
    margin-left: -11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    .avatarUser {
      width: 35px;
      height: 35px;
      border-radius: 100%;
    }

    .userName {
      font-weight: bold;
    }

    .img {
      width: 25px;
    }

    .name {
      font-size: 14px;
    }
  }

  .itemMenu:hover {
    background-color: #e0e0e0;
  }
}
