.modalSearch {
  background-color: rgba(230, 230, 230, 0.7);
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  .overlay {
    background-color: transparent;
    height: 100vh;
    width: 100%;

    .closeIcon {
      right: 17px;
      top: 15px;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      color: #595959;
      background-color: #e0e0e0;
      cursor: pointer;
      transition: all 0.2s ease;
      .icon {
        font-size: 25px;
      }
    }

    .closeIcon:hover {
      background-color: #d0d0d0;
    }
  }

  .wrapperModal {
    z-index: 1001;
    border-radius: 10px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    background-color: #ffffff;
    margin-top: 20vh;

    .search {
      .searchInput {
        border: none;
        outline: none;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      .searchBtn {
        border-radius: 5px;
        color: rgb(107, 106, 106);
        border: none;
        height: 35px !important;
        width: 35px !important;
        background-color: transparent;
        transition: all 0.2s ease;
      }

      .searchBtn:hover {
        background-color: #f0f0f0;
      }

      .searchBtn:active {
        background-color: #e0e0e0;
      }
    }

    .suggest {
      .itemSuggest {
        transition: all 0.1s ease;
        border-radius: 5px;
        cursor: pointer;

        .wrapperIcon {
          border-radius: 100%;
          width: 40px;
          height: 40px;
          cursor: pointer;
          background-color: #f0f0f0;

          .icon {
            color: rgb(107, 106, 106);
          }
        }

        .searchTerm {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.5px;
        }
      }

      .itemSuggest:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.overflowY {
  overflow-y: scroll;
  height: 520px;
}
