.modalSearch {
  background-color: rgba(230, 230, 230, 0.6);
  // height: 100vh;
  // width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  .overlay {
    background-color: transparent;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(2px);

    .closeIcon {
      right: 17px;
      top: 15px;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      color: #595959;
      background-color: #e0e0e0;
      cursor: pointer;
      transition: all 0.2s ease;
      .icon {
        font-size: 25px;
      }
    }

    .closeIcon:hover {
      background-color: #d0d0d0;
    }
  }

  .wrapperModal {
    z-index: 1001;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    margin-top: 20vh;

    .search {
      .searchInput {
        border: none;
        outline: none;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      .searchBtn {
        border-radius: 5px;
        background-color: #749eebcc;
        color: white;
        border: none;
        height: 35px !important;
        width: 60px !important;
        transition: all 0.2s ease;

        &:not(.disabledSearchBtn):hover {
          background-color: #6694ebe4;
        }

        &:not(.disabledSearchBtn):active {
          background-color: #4883f0e4;
        }
      }

      .disabledSearchBtn {
        cursor: inherit;
        opacity: 0.5;
      }
    }

    .suggest {
      .itemSuggest {
        transition: all 0.1s ease;
        border-radius: 5px;
        cursor: pointer;

        .wrapperIcon {
          border-radius: 100%;
          width: 40px;
          min-width: 40px;
          height: 40px;
          background-color: #f0f0f0;

          .icon {
            color: rgb(107, 106, 106);
          }
        }

        .userAvatar {
          border-radius: 100%;
          width: 40px;
          min-width: 40px;
          height: 40px;
          object-fit: cover;
          border: 1px solid #ccc;
        }

        .searchTerm {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.5px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .itemSuggest:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.overflowY {
  overflow-y: scroll;
  height: 520px;
}
