.dropdownMenu {
  width: 300px;
  background-color: rgb(247, 247, 247);
  right: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  top: 75px;
  border-radius: 10px;

  .wrapper {
    .item {
      transition: all 0.2s ease;
      border-radius: 5px;
      width: 100%;

      .wrapperIcon {
        .icon {
        }
      }
      .name {
        font-weight: bold;
        letter-spacing: 0.5px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
      }
    }
    .item:hover {
      background-color: #ebebeb;
    }
  }
}
