.leftSide,
.rightSide {
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  z-index: 999;
}
.rightSide {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
// .leftSide,
// .rightSide:hover {
//   overflow-y: initial;
// }

.leftSide::-webkit-scrollbar {
  display: none;
}

.rightSide::-webkit-scrollbar {
  display: none;
}

.img {
  width: 110%;
  height: 300px;
  object-fit: cover;
  margin-left: -62px;
  margin-right: -62px;
}
