.itemComment {
  .avatarUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .wrapperUserComment {
    background-color: #f0f2f5;
    border-radius: 20px;
    .userName {
      font-weight: bold;
    }
    .userComment {
    }
  }

  .option {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    .wrapperIcon {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      .icon {
        color: #7d7d7d;
        font-size: 20px;
      }
    }

    .wrapperIcon:hover {
      background-color: #eaeaea;
    }
    .wrapperIcon:active {
      background-color: #dcdcdc;
    }
  }

  .commentAt {
    font-size: 12px;
  }
  .like {
    font-size: 12px;
    font-weight: bold;
  }
  .feedback {
    font-size: 12px;
    font-weight: bold;
  }

  .commentAt:hover,
  .like:hover,
  .feedback:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.overlay {
  background-color: transparent;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
